@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

:root {
    --font: 'Montserrat', sans-serif;
    --bg-color: #343867;
    --bg-color-dark: #16193b;
    --font-color: #e4e0e4;
    --primary-color: #474c84;
    --secondary-color: #212548;
    --success-color: #11cb5f;
    --warning-color: #db2a34;
}