* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
input,
label,
svg,
.MuiSelect-select,
.MuiInputBase-multiline,
.MuiChip-label,
.MuiAutocomplete-noOptions {
    color: var(--font-color) !important;
}

.MuiFormControl-root {
    .MuiOutlinedInput-root {
        fieldset {
            border-color: var(--primary-color);
        }

        &:hover {
            &>fieldset {
                border-color: var(--primary-color);
                border-width: 2px;
            }
        }
    }

    .Mui-disabled {
        &:hover {
            &>fieldset {
                border-width: 1px;
            }
        }

        fieldset {
            border-color: var(--primary-color) !important;
        }
    }
}

.MuiAutocomplete-root.hiddenInput {
    .MuiFormControl-root {
        .MuiInputBase-root {
            height: 56px;

            .MuiInputBase-input {
                position: absolute !important;
                opacity: 0 !important;
            }
        }
    }
}

input {
    font-weight: 300 !important;
}

a {
    text-decoration: none;
    color: var(--font-color);

    &:hover {
        color: var(--primary-color)
    }
}

.swal2-container {
    z-index: 2000 !important;
}

.swal2-popup {
    color: var(--font-color) !important;
    background-color: var(--secondary-color) !important;

    .swal2-icon.swal2-warning {
        font-size: .7rem !important;
        color: var(--warning-color);
        border-color: var(--warning-color);
    }

    .swal2-icon.swal2-question {
        font-size: .7rem !important;
        color: var(--primary-color);
        border-color: var(--primary-color);
    }

    button {
        font-size: .9rem !important;
        font-weight: bolder !important;
        text-transform: uppercase !important;
        background-color: transparent !important;
        border-radius: 4px !important;
        padding: 0.5rem 1.2rem !important;

        &.swal2-confirm {
            border: 1px solid var(--success-color) !important;

            &:hover {
                background-color: rgb(17, 203, 95, .05) !important;
            }
        }

        &.swal2-cancel {
            border: 1px solid var(--warning-color) !important;

            &:hover {
                background-color: rgb(219, 42, 52, .05) !important;
            }
        }
    }

    .swal2-styled {
        box-shadow: none !important;
    }
}