.formSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    form {
        margin: 1rem;

        img {
            width: 120px;
            margin: auto;
            margin-bottom: 1rem;
        }
    }

    @media (min-width: 500px) and (max-width: 899px) {
        form {
            border-radius: 5px;
            box-shadow: 0 2px 7px 2px var(--secondary-color);
            padding: 3rem;
            margin: 1rem;
        }
    }
}