.myProfileContent {
    .contact {
        font-size: 14px;
        font-weight: lighter;
        display: flex;
        gap: .5rem;
        justify-content: center;
        margin-bottom: .5rem;
    }
}